<!-- Footer -->

  <footer class="page-footer font-small blue pt-4 mt-4" id='foot'>
<!--Footer Links-->



<div class="container-fluid text-center text-md-center foot-jumbo">



      <h3 class="text-uppercase footer-Title">Funk Shack Band</h3>


      <!--/.Footer Links-->
      <h4 class="text-uppercase">Links</h4>
      <ul class="list-unstyled">
        <li><a href="https://www.facebook.com/" style="color: #00C800;">Facebook</a></li>
        <li><a href="https://www.instagram.com/" style="color: #00C800;">Instagram</a></li>
        <li><a href="https://soundcloud.com/user-805032267" style="color: #00C800;">Soundcloud</a></li>
      </ul>

      <div class="footer-copyright py-3 text-center">
        <p class="footer-email">Email: funkshackband@gmail.com</p>
        <div class="container-fluid">

          © 2021 Copyright: Michael Ingram

        </div>
      </div>


    </div>






</footer>


</body>

</html>
