<%- include("partials/header") -%>

  <!-- Nav Bar -->


  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2E3178;">
  <div class="container">

      <button class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">

          <ul class="navbar-nav nav-fill w-100">

              <li class="nav-item active">
                  <a class="nav-link active" href="/">About</a>
              </li>


              <li class="nav-item">
                  <a class="nav-link" href="/listen">Listen</a>
              </li>


              <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact</a>
              </li>

          </ul>

      </div>
  </div>
</nav>


  <!-- Title Section -->
    <section class = "Title">



      <div class="titlerow row">
        <div class="col-lg-4">
          <h1>Funk</h1>
        </div>
        <div class="col-lg-4" id="logoDiv">
          <img src="Logo.png" alt="Logo", class="Logo" id="bandLogo">
        </div>
        <div class="col-lg-4">
          <h1>Shack</h1>
        </div>
      </div>


    </section>

    <!-- About -->

    <section class="About">



        <div class="jumbotron jumbotron-fluid about-jumbo">

        <h3>About</h3>
        <img class="band-pic" src="BandPhoto.png" alt="">
        <p>Funk shack is a New Orleans style cover band based out of Denver, Colorado. The four piece consists of Ethan Wackerman (Lead Vocals, Keyboard, Guitar), Michael Ingram (Tenor Sax, Guitar), Connor Szostak (Vocals, Bass),
      and Garrett Corneliussen (Drums). The band started in 2019 when a group of friends got together to jam on some old New Orleans funk tunes. Since then, the group has continued to hone their craft in being a high energy party band
       playing shows throughout Colorado. Their set lists consist of a mix of funk hits from the 60's, 70's and 80's with a focus on New Orleans style music as well as some modern hits designed to get the crowd up and dancing.  If interested in booking
     <a href="/contact" style="color: #00C800;">contact us</a> at funkshackband@gmail.com.</p>
      </div>

    </section>


<%- include("partials/footer") -%>
