<%- include("partials/header") -%>

  <!-- Nav Bar -->


  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2E3178;">
    <div class="container">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav nav-fill w-100">

          <li class="nav-item">
            <a class="nav-link" href="/">About</a>
          </li>


          <li class="nav-item active">
            <a class="nav-link active" href="/listen">Listen</a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>


  <!-- Title Section -->
  <section class="Title">



    <div class="titlerow row">
      <div class="col-lg-4">
        <h1>Funk</h1>
      </div>
      <div class="col-lg-4" id="logoDiv">
        <img src="Logo.png" alt="Logo" , class="Logo">
      </div>
      <div class="col-lg-4">
        <h1>Shack</h1>
      </div>
    </div>


  </section>

  <!-- Listen Here -->

  <section class="Listen">



    <div class="jumbotron jumbotron-fluid about-jumbo">

      <h3 class="Listen-Title">Listen Here</h3>
      <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1272248587&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
      <div
        style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
        <a href="https://soundcloud.com/user-805032267" title="Funk Shack" target="_blank" style="color: #cccccc; text-decoration: none;">Funk Shack</a> · <a href="https://soundcloud.com/user-805032267/sets/demosongs" title="DemoSongs"
          target="_blank" style="color: #cccccc; text-decoration: none;">DemoSongs</a></div>
    </div>

  </section>


<%- include("partials/footer") -%>
